<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NvntitleTBServlet</servlet-name>
    <servlet-class>servlet.NvntitleTBServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ArticleTBServlet</servlet-name>
    <servlet-class>servlet.ArticleTBServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ArticleTypeTBServlet</servlet-name>
    <servlet-class>servlet.ArticleTypeTBServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MaterrialTBServlet</servlet-name>
    <servlet-class>servlet.MaterrialTBServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IDServlet</servlet-name>
    <servlet-class>servlet.IDServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UIUpdateServlet</servlet-name>
    <servlet-class>servlet.UIUpdateServlet</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NvntitleTBServlet</servlet-name>
    <url-pattern>/NvntitleTBServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArticleTBServlet</servlet-name>
    <url-pattern>/ArticleTBServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArticleTypeTBServlet</servlet-name>
    <url-pattern>/ArticleTypeTBServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MaterrialTBServlet</servlet-name>
    <url-pattern>/MaterrialTBServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IDServlet</servlet-name>
    <url-pattern>/IDServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UIUpdateServlet</servlet-name>
    <url-pattern>/UIUpdateServlet</url-pattern>
  </servlet-mapping>
  <filter>
  <filter-name>IsLoginFilter</filter-name>
  <filter-class>filter.IsLoginFilter</filter-class>
  <init-param>
  <param-name>loginFilterPath</param-name>
  <param-value>login.html;</param-value>
  </init-param>
  </filter>
  <filter-mapping>
  <filter-name>IsLoginFilter</filter-name>
  <url-pattern>/back/*</url-pattern>
  </filter-mapping>
  <error-page>
  	<error-code>404</error-code>
  	<location>/index.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
